.el-menu--vertical .el-menu .el-menu-item,
.el-menu--vertical .el-menu .el-submenu,
.el-menu--vertical .el-menu .el-submenu .el-submenu__title {
  height: $height-menu;
  line-height: $height-menu;
}
.el-menu--vertical .el-menu .el-submenu .el-submenu__title .el-submenu__icon-arrow {
  color:#fff;
}

// $logoH: 65px;
.sider {
  // min-height: 100vh;
  // box-shadow: 1px 0 4px rgba(0,21,41,.08);
  // &-logo {
  //   height: $logoH;
  //   background: #022445;
  //   color: #fff;
  //   line-height: $logoH;
  //   text-align: center;
  //   font-size: 18px;
  // }
  .el-menu {
    border-right: 0 none;
    .el-menu-item,
    .el-submenu__title {
      height: $height-menu;
      line-height: $height-menu;
    }
    .el-submenu__title i.el-submenu__icon-arrow {
      color:#fff;
    }
  }

  // .el-menu-vertical-demo:not(.el-menu--collapse) {
  //   width: 200px;
  //   min-height: 400px;
  // }
  
  .menu-dark {
    // .el-menu-item.is-active {
    //   background-color: var(--theme-color) !important;
    //   color: #fff !important;
    // }
    .el-menu-item.is-active {
      background-color: #ef4951 !important;
      font-weight: bold;
    }
  }
  .menu-light {
    // .sider-logo {
    //   border-bottom: 1px solid #e8e8e8;
    //   border-right: 1px solid #e8e8e8;
    // }
    .el-menu-item:hover {
      background-color: transparent !important;
      color: #1890ff !important;
    }
    .el-menu-item.is-active {
      background-color: #e6f7ff !important;
      color: #1890ff !important;
    }
  }
  // .cc-svg-icon {
  //   margin-right: 10px;
  // }

  .active-menu {
    border-left: 3px solid #fff;
  }
}