* {
	margin: 0;
	padding: 0;
}
html, body {
	box-sizing:border-box;
  overflow: hidden;
}
body {
  // background: url(http://www.dmoe.cc/random.php) center center / cover no-repeat fixed;
  // background: url(https://cdn.seovx.com/ha/?mom=302) center center / cover no-repeat fixed;
  background: url(https://cdn.seovx.com/ha/?mom=302) center center / cover no-repeat fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-scroll {
  height: 100%;
	.el-scrollbar__wrap {
		overflow-x: hidden;
	}
}

.container {
  height: 100%;
}
.el-header {
  padding: 0 !important;
  line-height: $height60;
}
.el-aside {
  // background: #d8222a;
  background: transparent;
}
.el-main {
  overflow: hidden;
  opacity: 0.8;
}
.main {
  overflow-x: hidden;
}
// .el-aside {}
.el-main {
  // background-color: #f0f2f5;
  overflow-x: hidden;
  padding: $height10;
}
.view {
  background: #fff;
  border-radius: 5px;
  padding: $height10;
  padding-bottom: $height40;
}
.home-view {
  padding-bottom: $height10;
}