* {
	margin: 0;
	padding: 0;
}
html, body {
	box-sizing:border-box;
}

.page-scroll {
  height: 100%;
	.el-scrollbar__wrap {
		overflow-x: hidden;
	}
}

.container {
  height: 100%;
}
.el-header {
  padding: 0 !important;
  line-height: $height60;
}
.el-aside {
  background: #d8222a;
}
.el-main {
  overflow: hidden;
}
.main {
  overflow-x: hidden;
}
// .el-aside {}
.el-main {
  background-color: #f0f2f5;
  overflow-x: hidden;
  padding: $height10;
}
.view {
  background: #fff;
  border-radius: 5px;
  padding: $height10;
  padding-bottom: $height30;
}
.home-view {
  padding-bottom: $height10;
}